@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

.mainHeader{
    display: flex;
    width: 100%;
    padding: 1rem 0;
    color: #fff;
}

.button{
    font-family: "Pretendard Thin";
    display: block;
    width : 10rem;
    margin: 20px 40px;
    background-color: rgba(202, 202, 202, 0.501);
    font-size: 2rem;
    color: #000;
    border: #fff;
}

button:hover{

}

.buttonWrap{
    background-color: rgba(202, 202, 202, 0.501);
    margin: 0 auto;
    display: flex;;
}

.iconImage{
    margin: 10px 40px;
    width: 8em;
    height: 8em;
}