.root{
  width: 100%;
  background-color: #FFFFFF;
  text-align: center;
  height: 400vh;
}

.text{
  font-size: 5rem;
  color: #000;
  margin: 10;
}

.stacks{
  
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}