.root{

  background-color: #FFFFFF;
  height: 500vh;
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1{
  font-size: 5rem;
  color: #000;
  margin: 10;
}

h2{
  text-align: center;
}

.imgWrap{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}


.page{
  padding-top : 110px;
  height: calc(100vh - 110px);
}

.stacksWrap{
  margin: 100px 0 ;
}

img{
  height: 6em;
  margin: 0 10px;
}