.root{
  width: 100%;
  background-color: #FFFFFF;
  text-align: center;
  height: 500vh;
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.stacks{
  height: 100vh;
}

.project{
  height: 100vh;
}

.contest{
  height: 100vh;
}

.activity{
  height: 100vh;
}

.text{
  font-size: 5rem;
  color: #000;
  margin: 10;
}

